<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NoteBook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
</head>
<body>
<h2 class="ms-3 mt-5 text-start">Hello! Welcome to NoteBook application!</h2>
<br>
<h3 class="ms-3 mt-5 text-start">Use it and be enjoyed!</h3>
<br>
<hr>
<a class="text-primary ms-3 mb-3 fs-4" href="/note/list">Go to the main page</a>
</body>
</html>